.body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/** -------------HEADER----------------*/

.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-blue {
    color: #2e2f42;
}

.header-menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-address-link:hover {
    color: #404BBF;
}

.header-menu-link:focus,
.header-address-link:focus {
color: #404BBF;
}

.address {
    font-style: normal;
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**-------------HEADER-------------*/

.section-one {
    background:#2E2F42;
}

.header-one {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.header-one-btn {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
}

.header-one-btn:hover {
    background: #404BBF;
}

.header-one-btn:focus {
    background-color: #404BBF;
}

/**-------------------HEADER 1------------------*/

.header-features-list {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-features-info {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**---------------------OUR TEAM----------*/

.section-three {
    background-color: #F4F4FD
}

.header-team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF
}

.team-members {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-info {
    color:#434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**--------------PORTFOLIO--------------*/

.header-portfolio {
color: #2e2f42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-features {
color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.portfolio-item {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**-----------------FOOTER--------------*/

.footer {
background: #2E2F42;
}

.footer-logo {
color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-info {
color:#F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.logo-weight {
color: #F4F4FD;
}